<app-jumbotron headline="Projects/" text="Up. Way. 2. Late." image="projects.png"></app-jumbotron>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Awesome Cookie Manager</h3>
    </div>
    <div class="panel-body">

        <app-extension-header extensionId="hcpidejphgpcgfnpiehkcckkkemgneif"
                              image="/assets/img/cookie_manager/icon_128.png"></app-extension-header>

        <p>
            The Awesome Cookie Manager lets the user manage cookies in Google Chrome.
        </p>

        <p>
            <app-kendo-image-preview title="Awesome Cookie Manager"
                                     path="/assets/img/cookie_manager/main.png"></app-kendo-image-preview>
        </p>

        <p>Supported Functionality:</p>

        <p>(1) Search: Search for cookies.</p>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn btn-link collapse-data-btn" data-toggle="collapse" href="#search">Show Example</a>
        </div>
        <div id="search" class="collapse">
            <p>Cookies can be searched by any combination of domain, name, or value.</p>
            <p>
                <app-kendo-image-preview title="Awesome Cookie Manager"
                                         path="/assets/img/cookie_manager/search.png"></app-kendo-image-preview>
            </p>
        </div>
        <br /><br />

        <p>(2) View: View cookie properties.</p>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn btn-link collapse-data-btn" data-toggle="collapse" href="#view">Show Example</a>
        </div>
        <div id="view" class="collapse">
            <p>Clicking the linked name of any cookie displays all that cookies properties.</p>
            <p>
                <app-kendo-image-preview title="Awesome Cookie Manager - View"
                                         path="/assets/img/cookie_manager/view.png"></app-kendo-image-preview>
            </p>
        </div>
        <br /><br />

        <p>(3) Edit: Edit cookie properties. (screen shots coming later)</p>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn btn-link collapse-data-btn" data-toggle="collapse" href="#edit">Show Example</a>
        </div>
        <div id="edit" class="collapse">
            <p>Select any set of cookies and those cookies can then be deleted.</p>
            <p>
                <app-kendo-image-preview title="Awesome Cookie Manager - Edit"
                                         path="/assets/img/cookie_manager/edit.png"></app-kendo-image-preview>
            </p>
        </div>
        <br /><br />

        <p>(4) Delete: Delete cookies.</p>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn btn-link collapse-data-btn" data-toggle="collapse" href="#delete">Show Example</a>
        </div>
        <div id="delete" class="collapse">
            <p>Select any set of cookies and those cookies can then be deleted.</p>
            <p>
                <app-kendo-image-preview title="Awesome Cookie Manager - Delete"
                                         path="/assets/img/cookie_manager/delete.png"></app-kendo-image-preview>
            </p>
        </div>
        <br /><br />

        <p>(5) Save And Restore: Save cookies, restore them later.</p>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn btn-link collapse-data-btn" data-toggle="collapse" href="#save-restore">Show Example</a>
        </div>
        <div id="save-restore" class="collapse">
            <p>With the save and restore feature, you can select any number of cookies, save them, and restore them later.</p>
            <p>
                <app-kendo-image-preview title="Awesome Cookie Manager - Save and Restore"
                                         path="/assets/img/cookie_manager/save-restore.png"></app-kendo-image-preview>
            </p>
        </div>
        <br /><br />

        <p>(6) Options: Various settings.</p>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn btn-link collapse-data-btn" data-toggle="collapse" href="#options">Show Example</a>
        </div>
        <div id="options" class="collapse">
            <p>Supported options:</p>
            <p>
                <app-kendo-image-preview title="Awesome Cookie Manager - Options"
                                         path="/assets/img/cookie_manager/options.png"></app-kendo-image-preview>
            </p>
        </div>
        <br /><br />

    </div>
</div>