.gray-box {
    border-color: gray;
    background: -webkit-linear-gradient(#f2f2f2, #e6e6e6);
    background: -o-linear-gradient(#f2f2f2, #e6e6e6);
    background: -moz-linear-gradient(#f2f2f2, #e6e6e6);
    background: linear-gradient(#f2f2f2, #e6e6e6);
}

.image-holder {
    padding: 10px;
}