.brand-font {
    color: #005ccd;
    font-weight: bolder;
}

.twitter-li {
    padding-top: 11px;
}

.lined-grid div.row { 
  border: 1px solid;
  border-bottom: 0px;
}

.lined-grid div.row:last-child {
  border-bottom: 1px solid;
}

.page-header-right {
    float: right;
    padding-top: 5px;
}