html, body {
   height: 100%;
}

.app-root {
   min-height: calc(100% - 50px);
}

.brand-font {
    color: #005ccd;
    font-weight: bolder;
}

.linked-in-li {
    padding-top: 15px;
    padding-left: 10px;
    min-width: 110px;
}

.twitter-li {    
    padding-top: 11px;
    padding-left: 10px;
}

.lined-grid div.row { 
  border: 1px solid;
  border-bottom: 0px;
}

.lined-grid div.row:last-child {
  border-bottom: 1px solid;
}

.page-header-right {
    float: right;
    padding-top: 5px;
}

.rss-link {
    padding-top: 11px !important;
}