<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Chrome Google Search Extension (AKA Search It!)</h3>
    </div>
    <div class="panel-body">

        <app-extension-header extensionId="bojojkkfhcebglmfbmaplhfkjfhaefaj"
                              image="/assets/img/google/world_128.png"></app-extension-header>

        <p>
            This super handy extension is designed for two main purposes.  It creates a faster way to Google, and it also saves your recent searches.
        </p>

        <p>
            <img class="img-responsive" src="/assets/img/google/mainscreen.png" />
        </p>

        <p>
            Search: type a search term here. Google Suggest items are presented in a drop down.
        </p>

        <p>
            Domain: select Any, Current, or Specify. With Specify, type a domain name to search. When Current or Specify are used, the domain is saved for re-use in the future. Click the red X to delete the currently displayed domain.
        </p>

        <p>
            Type: select Web, Image, Video, Maps, News, or Shopping for what type of search you'd like to do.
        </p>

        <p>
            Suggest Order: this option affects the display order of the Google Suggest items.
        </p>

        <p>
            Results In: select where the search results will be displayed - in a New Tab, in the Current Tab, or in a New Window.
        </p>

        <p>
            History: select if searches should be saved, and how many.
        </p>

        <p>
            Delete All History: click this link to delete all history. There is a confirmation dialog so it's OK to click it on accident, or just for fun.
        </p>

        <p>
            Delete All Domains: click this link to delete all domains saved in Current and Specify searches. There is a confirmation dialog here too, so it's OK to click it on accident, or just for fun.
        </p>

        <p>
            Theme: select your favorite color theme.
        </p>

        <p>
            Recent Searches: these are the saved recent searches, with the most recent being at the top of the list. Click the red X to delete a search. Click the search link itself to re-run the search immediately. Click the reload icon to reload the search in the search form (this allows you to change search options before re-running).
        </p>

        <p>
            Here's a shot of Google Suggest in action:
        </p>

        <p>
            <img class="img-responsive" src="/assets/img/google/mainscreen-2.png" />
        </p>

        <h3>Credits</h3>

        <p>
            JQuery, JQuery UI, FamFamFam Silk Icons
        </p>

        <p>
            Fam Fam Fam Icons: <a href="http://www.famfamfam.com/lab/icons/silk/">http://www.famfamfam.com/lab/icons/silk/</a>
        </p>

    </div>
</div>