<app-jumbotron headline="Projects/" text="Up. Way. 2. Late." image="projects.png"></app-jumbotron>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">WinRoboCopy - Scripts</h3>
    </div>
    <div class="panel-body">

        <p>
            Each saved RoboJob in WinRoboCopy can optionally have a pre-RoboCopy script and/or a post-RoboCopy script.
        </p>

        <p>
            <app-kendo-image-preview title="RoboCopy Main Window with Scripts"
                                     path="/assets/img/winrobocopy/mainwindowwithscripts.png"
                                     thumbWidth="575"
                                     thumbHeight="395"></app-kendo-image-preview>
        </p>

        <p>
            In this example, files in the To directory are deleted prior to the RoboCopy, and select files in the To directory are renamed after the RoboCopy.
        </p>

        <p>
            <app-kendo-image-preview title="Scripts Window"
                                     path="/assets/img/winrobocopy/scripts.png"
                                     thumbWidth="429"
                                     thumbHeight="789"></app-kendo-image-preview>
        </p>

        <p>
            Script execution reports are displayed in the Log window.
        </p>

        <p>
            <app-kendo-image-preview title="Pre-Copy Script Log"
                                     path="/assets/img/winrobocopy/prescriptlog.png"
                                     thumbWidth="632"
                                     thumbHeight="143"></app-kendo-image-preview>
        </p>

        <p>
            <app-kendo-image-preview title="Post-Copy Script Log"
                                     path="/assets/img/winrobocopy/postscriptlog.png"
                                     thumbWidth="684"
                                     thumbHeight="156"></app-kendo-image-preview>
        </p>

    </div>
</div>