<app-jumbotron headline="Projects/" text="Up. Way. 2. Late." image="projects.png"></app-jumbotron>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">WinRoboCopy - Resources</h3>
    </div>
    <div class="panel-body">

        <p>
            <a href="http://ss64.com/nt/robocopy.html" target="_blank">Commands Reference</a> - ss64.com
        </p>

        <p>
            <a href="http://superuser.com/questions/314503/what-does-robocopy-mean-by-tweaked-lonely-and-extra" target="_blank">What does robocopy mean by tweaked, lonely and extra?</a> - superuser.com
        </p>

    </div>
</div>
