<app-jumbotron headline="Projects/" text="Up. Way. 2. Late." image="projects.png"></app-jumbotron>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">WinRoboCopy - Schedule Robocopy Job</h3>
    </div>
    <div class="panel-body">

        <p>
            <img src="/assets/img/winrobocopy/schedulewindow.png" />
        </p>

        <p>
            This schedules a RoboCopy job to run in Windows Task Scheduler.
        </p>

        <p>
            If more advanced options are desired, edit the task in Windows Task Scheduler after task creation.
        </p>

    </div>
</div>