<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                &nbsp;&nbsp;<span class="brand-font">UpWay2Late.com Software</span>
            </a>
        </div>
        <div id="navbar-menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink='/news'>News</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a routerLink='/projects/buttons-project'>Buttons Project</a>
                        </li>
                        <li>
                            <a routerLink='/projects/awesome-cookie-manager'>Cookie Manager</a>
                        </li>
                        <li>
                            <a routerLink='/projects/chrome-delicious-extension-bookmark-sync'>Delicious Extension</a>
                        </li>
                        <li>
                            <a routerLink='/projects/chrome-google-search-extension'>Google Search Extension</a>
                        </li>
                        <li>
                            <a routerLink='/projects/chrome-pinboard-extension-bookmark-sync'>Pinboard Extension</a>
                        </li>
                        <li>
                            <a routerLink='/projects/awesome-window-tab-manager'>Window and Tab Extension</a>
                        </li>
                        <li>
                            <a routerLink='/projects/winlaunch'>WinLaunch</a>
                        </li>
                        <li>
                            <a routerLink='/projects/winrobocopy'>WinRoboCopy</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink='/downloads'>Downloads</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink='/contact'>Contact</a>
                </li>
                <li>
                    <a routerLink='/privacy'>Privacy</a>
                </li>
                <li class="twitter-li">
                    <a href="https://twitter.com/UpWay2LateTweet" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @@UpWay2LateTweet</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="container bs-docs-container">
    <router-outlet></router-outlet>
</div>