<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                &nbsp;&nbsp;<span class="brand-font">UpWay2Late.com Software</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li>
                    <a routerLink='/news' data-toggle="collapse" data-target=".navbar-collapse">News</a>
                </li>
                <li>
                    <a routerLink='/projects' data-toggle="collapse" data-target=".navbar-collapse">Projects</a>
                </li>
                <li>
                    <a routerLink='/downloads' data-toggle="collapse" data-target=".navbar-collapse">Downloads</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink='/contact' data-toggle="collapse" data-target=".navbar-collapse">Contact</a>
                </li>
                <li>
                    <a routerLink='/privacy' data-toggle="collapse" data-target=".navbar-collapse">Privacy</a>
                </li>
                <li class="twitter-li">
                    <a href="https://twitter.com/UpWay2LateTweet" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @@UpWay2LateTweet</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="container bs-docs-container">
    <router-outlet></router-outlet>
</div>