<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>
                <a href="https://chrome.google.com/webstore/detail/{{extensionId}}" target="_blank">
                    <img src="{{image}}" />
                </a>
            </p>

            <p>
                <a href="https://chrome.google.com/webstore/detail/{{extensionId}}" target="_blank">
                    Install from Chrome Web Store
                </a>
            </p>
        </div>
        <div class="col-md-5">
            <div class="pull-right">
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XKT6Z99HH8Z8S" target="_blank">
                    <img src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif">
                </a>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
