<app-jumbotron headline="Projects/" text="Up. Way. 2. Late." image="projects.png"></app-jumbotron>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Pick Em Leagues</h3>
    </div>
    <div class="panel-body">
        <h3>Pick Em Leagues</h3>
        <p>
            Pick Em Leagues (<a href="https://www.pickemleagues.com">www.pickemleagues.com</a>) is a sports based
            competition web site where you pick the winners of professional sports games, collect points when you are correct,
            and lord your superior knowledge over your friends.
        </p>

        <h3>Create or Join Leagues</h3>
        <p>On the My Leagues page, you can create or join a league or leagues.</p>
        <p>Or, if you received an invite email, clicking the link in the email takes care of all that.</p>
        <app-responsive-image fileName="pick-em/leagues.png"></app-responsive-image>

        <h3>Invite Friends</h3>
        <p>The more, the merrier! Leagues have no size limit.</p>
        <p>Note: you can only invite friends to leagues where you are the owner.</p>
        <app-responsive-image fileName="pick-em/invite.png"></app-responsive-image>

        <h3>Make Your Picks</h3>
        <p>For each league, click through to make your picks.</p>
        <app-responsive-image fileName="pick-em/picks.png"></app-responsive-image>
        <p>The only season available right now is NFL 2016. You pick every game, every week, straight up.</p>
        <p>You score points when your teams win. SICK.</p>

        <h3>View the Results</h3>
        <p>Results are populated in real time. (OK, it's delayed a minute or so...)</p>
        <app-responsive-image fileName="pick-em/results.png"></app-responsive-image>

        <h3>Check the Standings</h3>
        <p>Check out those standing and behold the glory. You won! Or not.</p>
        <app-responsive-image fileName="pick-em/standings.png"></app-responsive-image>

        <h3>That's It!</h3>
        <p>We're working on a ton of other features, but that's where we are today.</p>
        <p>Have ideas? Send 'em over! <a href="mailto:big-ideas@pickemleagues.com">big-ideas@pickemleagues.com</a></p>

    </div>
</div>