<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Awesome Window & Tab Manager</h3>
    </div>
    <div class="panel-body">

        <app-extension-header extensionId="nfjaddknccljfohoaekkibpcceeenkah"
                              image="/assets/img/window-and-tab/icon_128.png"></app-extension-header>

        <p>
            The Awesome Window & Tab Manager allows you to manage all Chrome windows and tabs.
        </p>

        <p>
            <img class="img-responsive" src="/assets/img/window-and-tab/screen-1.png" />
        </p>

        <p>
            Beautiful, I know. But there is a lot going on. Let's break it down:
        </p>

        <p>
            <img class="img-responsive" src="/assets/img/window-and-tab/screen-2.png" />
        </p>

        <p>
            (1) - This is how many windows and tab are currently open. It the example, 7 windows and 47 tabs.
        </p>

        <p>
            (2) - This is the filter box. Type in a text filter, and the windows and tabs are reduced to those that match.
        </p>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn btn-link collapse-data-btn" data-toggle="collapse" href="#screen-filter">Show Example</a>
        </div>
        <div id="screen-filter" class="collapse">
            <p>When typing in the filter box, the tabs are filtered. For details in how filtering works, see 'Options'.</p>
            <p><img class="img-responsive" src="/assets/img/window-and-tab/screen-filter.png" /></p>
        </div>
        <br /><br />

        <p>
            (3) - Alpha Sort - check this box and the tabs are sorted alphabetically. Otherwise, they are presented in the same order they appear in Chrome.
        </p>

        <p>
            (4) - Show - select whether to display the tab title or the URL.
        </p>

        <p>
            (5) - Categorize - by default (and in the screenshot) the tabs are separated by window. Alternatively, they can be separated by domain, category, or not all all.
        </p>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn btn-link collapse-data-btn" data-toggle="collapse" href="#categorize">Show Example</a>
        </div>
        <div id="categorize" class="collapse">
            <p>Tabs can be arranged by window:</p>
            <p><img class="img-responsive" src="/assets/img/window-and-tab/categorize-window.png" /></p>
            <p>Tabs can be arranged by domain:</p>
            <p><img class="img-responsive" src="/assets/img/window-and-tab/categorize-domain.png" /></p>
            <p>Tabs can be arranged by category: (Categories are determined from the bookmarks and folders in Chrome):</p>
            <p><img class="img-responsive" src="/assets/img/window-and-tab/categorize-category.png" /></p>
        </div>
        <br /><br />

        <p>
            (6) - All windows and tabs can be saved, and thus restored later.
        </p>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn btn-link collapse-data-btn" data-toggle="collapse" href="#sessions">Show Example</a>
        </div>
        <div id="sessions" class="collapse">
            <p>You can save sets of windows and tabs as a Session.</p>
            <p><img class="img-responsive" src="/assets/img/window-and-tab/screen-saves-notes.png" /></p>
            <p>(1) - Type a name for the session here.</p>
            <p>(2) - Click here to save the session.</p>
            <p>(3) - Previously saves sessions are listed here. Click the name or the icon to restore the session.</p>
            <p>(4) - Click the 'x' to delete a previously saved session.</p>
            <p>(5) - Check this box to have all other Chrome windows and tabs closed when restoring a session.</p>
        </div>
        <br /><br />

        <p>
            (7) - All tabs in a window, domain, or group can be refreshed.
        </p>

        <p>
            (8) - All tabs in a window, domain, or group can be saved, and thus restored later.
        </p>

        <p>
            (9) - All tabs in a window, domain, or group can be closed.
        </p>

        <p>
            (10) - Any individual tab can be closed.
        </p>

        <p>
            (11) - This book icon just means the tab is bookmarked already.
        </p>

        <p>
            (12) - This plus icon is used to add a bookmark for this tab.
        </p>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn btn-link collapse-data-btn" data-toggle="collapse" href="#bookmark">Show Example</a>
        </div>
        <div id="bookmark" class="collapse">
            <p>Bookmarks can be added for tabs.</p>
            <p><img class="img-responsive" src="/assets/img/window-and-tab/screen-bm-notes.png" /></p>
            <p>(1) - The title of the page from the tab. Can be optionally altered before saving.</p>
            <p>(2) - The URL of the page from the tab. Can be optionally altered before saving.</p>
            <p>(3) - Click a bookmark folder to add the new bookmark.</p>
        </div>
        <br /><br />

        <p>
            (13) - Clicking the icon or the title takes you to that window & tab.
        </p>

        <h3>Options Screen</h3>

        <p>
            <img class="img-responsive" src="/assets/img/window-and-tab/options.png" />
        </p>

        <h3>Credits</h3>

        <p>
            JQuery, JQuery UI, FamFamFam Silk Icons
        </p>

        <p>
            Fam Fam Fam Icons: <a href="http://www.famfamfam.com/lab/icons/silk/">http://www.famfamfam.com/lab/icons/silk/</a>
        </p>

    </div>
</div>