<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
    <rewrite>
      <rules>
        <rule name="Redirect with hash">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{PATH_INFO}" pattern="^/(news|projects|downloads|contact|privacy)(.*)$" negate="false" />
          </conditions>
          <action type="Redirect" url="http://{HTTP_HOST}/#{PATH_INFO}" redirectType="Permanent"/>
        </rule>        
      </rules>
    </rewrite>        
  </system.webServer>
</configuration>
